body {
	background-image: url("../images/gif-background.jpg");
}

p {
	font-size: 20px;
	color: #fff;
}

label {
	color: #fff;
	font-size: 15px;
}

.dropdown {
	font-size: 15px;
	color: #7f0000;
	font-weight: bold;
}

.buttons {
	margin: 20px 5px 0 5px;
	font-size: 15px;
	padding: 5px; 
	background-color: #fff;
	color: #7f0000;
	font-weight: bold;

}

.gifHolder {
	margin: 20px;
}

#add-gif {
	margin: 48px 5px 0 5px;
	font-size: 15px;
	padding: 5px; 
	background-color: #fff;
	color: #7f0000;
	font-weight: bold;
}

#gif-input {
	width: 195px;
	height: 30px;
	font-size: 15px;


}


