body {
	background: #7f0000;
}

p {
	font-size: 20px;
	color: #fff;
}

label {
	color: #fff;
	font-size: 20px;
}

.dropdown {
	font-size: 20px;
	color: #7f0000;
	font-weight: bold;
}

.buttons {
	margin: 20px 5px 0 5px;
	font-size: 20px;
	padding: 5px; 
	background-color: #fff;
	color: #7f0000;
	font-weight: bold;

}

.gifHolder {
	margin: 20px;
}

#add-gif {
	margin: 55px 5px 0 5px;
	font-size: 20px;
	padding: 5px; 
	background-color: #fff;
	color: #7f0000;
	font-weight: bold;
}

#gif-input {
	width: 195px;
	height: 40px;
	font-size: 20px;


}


